

    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'mainapp:mainapp' %}" class="nav-link">Main</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a href="{% url 'mainapp:contacts' %}" class="nav-link">Contact us</a>
            
            {% if user.is_authenticated %}<a href="{% url 'authapp:logout' %}" class="nav-link">Logout</a> <a href="{% url 'authapp:profile' %}" class="nav-link">Profile</a>{% else %}<a href="{% url 'authapp:login' %}" class="nav-link">Login</a></li>{% endif %}
            {% if user.is_anonymous %}<a href="{% url 'authapp:register' %}" class="nav-link">Sign in</a>{% endif %}
            {% if user.is_superuser %}<a href="{% url 'admin:index' %}" class="nav-link">Admin</a>{% endif %}
            <a href="{% url 'mainapp:basket' %}" class="nav-link">Basket</a>
            <a href="{% url 'mainapp:categories' %}" class="nav-link">Categories</a>
            <a href='http://127.0.0.1:8000/api/' class="nav-link">API</a>

        </div>
        </div>
        </div>
        </nav>